.container {
    border: 5px solid #ffcc5c;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .container div {
    margin: 10px;
    text-align: center;
    font-size: 2em;
    color: white;
  }
  
  .item1 {
    background-color: brown;
  }
  
  .item2 {
    background-color: purple;
  }
  
  .item3 {
    background-color: black;
  }
  .